//wideScreen

@include MediaXl {

    .projects {
        grid-template-columns: repeat(4, 1fr);
    }

}

//Desktop & laptop

@include MediaLg{

    .projects {
        grid-template-columns: repeat(3, 1fr);
    }

}

//Tablets and Small Laptops-

@include MediaMd{
    main{
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 3rem;
        }
    }

    ul.menu-nav, 
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    } 

    .menu-nav{
        height: 70vh;
        transform: translate3d(100%, 0, 0); 
        font-size: 15px;
    }

    .menu-branding{
        height: 30vh;
        transform: translate3d(70%,0 ,0);
        //transform: translate3d(100%, 0, 0);

        .portrait {
            background: url('../img/ProfilePic.jpg');
            background-size: cover;
            width: 150px;
            height: 150px;
        }
    }

    #about {
        h1{
            font-size: 2.5rem;
        }

        h2{
            font-size: 1rem;
        }
    }
    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;
    }

    #work {
        h1{
            font-size: 2.5rem;
        }

        h2{
            font-size: 1rem;
        }
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    #contact {
        h1{
            font-size: 2rem;
        }

        h2{
            font-size: 1rem;
        }
    }

}

//SmartPhones

@include MediaSm{
    main#home h1{
        margin-top: 30vh;
    }
    
    #contact {
        h1{
            font-size: 2.5rem;
        }

        h2{
            font-size: 1rem;
        }
    }
    .projects {
        grid-template-columns: 1fr;
    }
}